<div id="<%= dom_id albun %>">
  <p>
    <strong>Artist:</strong>
    <%= albun.artist %>
  </p>

  <p>
    <strong>Album Name:</strong>
    <%= albun.AlbumName %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= albun.year %>
  </p>

</div>
